{{>header}}
{{>nav}}

<section class="container my-4 bg-light bg-gradient">
    <table class="table table-stripped">
        <thead class="text-center">
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Actions</th>
        </thead>
        <tbody>
{{#each tasks}}
<tr class="text-center">
    <td>{{_id}}</td>
    <td>{{title}}</td>
    <td>{{content}}</td>
    <td>{{date}}</td>
    <td>{{status}}</td>
    <td>
        <a href="/singleTask/{{_id}}" class="btn btn-primary">Show</a>
        <a href="/editTask/{{_id}}" class="btn btn-warning mx-1">Edit</a>
        <a href="/status/{{_id}}" class="btn btn-info">Activate/Deactivate</a>
        <a href="/completeStatus/{{_id}}" class="btn btn-success mx-1">Complete</a>
        <a href="/del/{{_id}}" class="btn btn-danger">Delete</a>
    </td>
</tr>
{{/each}}

        </tbody>
    </table>
    <a href="/delAll" class="btn btn-danger float-end">Delete All Tasks</a>
</section>

{{>footer}}