{{>header}}
{{>nav}}

<section class="text-center mb-1 container text-dark bg-light mt-3">
    <form action="/searchLogic">
  <label for="search" class="h1 fw-bold text-secondary">Search Content or Title:</label><br>
  <input class="form-control" name="search" placeholder="Search..."><br>
    <button class="btn btn-primary">Search</button><br><br>
    </form>

</section>

<section class="container mt-5 bg-light bg-gradient">
    <table class="table table-stripped">
        <thead class="text-center">
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Actions</th>
        </thead>
        <tbody>
{{#each results}}

<tr class="text-center">
    <td>{{id}}</td>
    <td>{{title}}</td>
    <td>{{content}}</td>
    <td>{{date}}</td>
    <td>{{status}}</td>
    <td>
        <a href="/singleTask/{{id}}" class="btn btn-primary">Show</a>
        <a href="/editTask/{{id}}" class="btn btn-warning mx-1">Edit</a>
        <a href="/status/{{id}}" class="btn btn-info">Activate/Deactivate</a>
        <a href="/completeStatus/{{id}}" class="btn btn-success mx-1">Complete</a>
        <a href="/del/{{id}}" class="btn btn-danger">Delete</a>
    </td>
</tr>

{{/each}}
 </tbody>
    </table>
</section>
{{>footer}}